@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper col-11">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Products Table</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <a class="btn btn-primary" asp-action="Create">Create</a>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var CategoryItem in Model)
                                {
                                    <tr>
                                        <td>@CategoryItem.Name</td>
                                        <td>
                                            <a class="btn btn-success" asp-action="Detail" asp-route-id="@CategoryItem.Id">Detail</a>
                                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@CategoryItem.Id">Update</a>
                                            <a class="btn btn-danger @(ViewBag.Count == 1 ? "disabled" : "")" asp-action="Delete" asp-route-id="@CategoryItem.Id">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

