@model List<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper col-11">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Products Table</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <a class="btn btn-primary" asp-action="Create">Create</a>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Rating</th>
                                    <th>Category Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ProductItem in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/assets/images/website-images/@ProductItem.Image" />
                                        </td>
                                        <td>@ProductItem.Name</td>
                                        <td>$@ProductItem.Price</td>
                                        <td>@ProductItem.Rating</td>
                                        <td>@ProductItem.Category.Name</td>
                                        <td>
                                            <a class="btn btn-success" asp-action="Read" asp-route-id="@ProductItem.Id">Read</a>
                                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@ProductItem.Id">Update</a>
                                            <a class="btn btn-danger @(ViewBag.Count == 1 ? "disabled" : "")" asp-action="Delete" asp-route-id="@ProductItem.Id">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


